@import "../../app/globals.scss";

.menu {
    width: 300px;
    height: 100vh;
    background-color: white;
    text-decoration: none;
    position: fixed;
    top: 70px;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s ease;

    @include mobile {
        width: 100vw;
        right: -100vw;
    }

    &.active {
        right: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        list-style: none;
        font-size: 30px;
        font-weight: 300;
        width: 80%;
        position: relative;


        li {
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1px;
            padding: 13px 20px 13px;
            outline: 0;
            border: 1px solid $maincolor;
            cursor: pointer;
            position: relative;
            background-color: inherit;
            text-decoration: none;
            font-family: "lato", sans-serif;
            border-radius: 20px;
            width: 180px;
            touch-action: manipulation;
            background: linear-gradient(230deg, $maincolor100, $maincolor50);
            background-clip: text;
            -webkit-text-fill-color: transparent;

            a {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }

            &:after {
                content: "";
                background: rgb(233, 128, 32);
                background: linear-gradient(215deg, rgba(233, 128, 32, 1) 0%, rgba(242, 183, 87, 1) 100%);
                width: 100%;
                //background-color: $maincolor900;
                z-index: -1;
                position: absolute;
                height: 100%;
                top: 7px;
                left: 7px;
                transition: 1s all ease;
                border-radius: 20px;
            }

            &:hover:after {
                top: 0px;
                left: 0px;
            }

            &:hover {
                font-weight: 500;
                touch-action: manipulation;
                background: linear-gradient(230deg, $maincolor900, $maincolor700);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}