@import "../../app/globals.scss";

.topbar {
    width: 100%;
    height: 70px;
    background-color: $graycolor50;
    color: $maincolor;
    top: 0;
    position: fixed;
    z-index: 4;
    transition: all 1s ease;
    font-family: 'Lato', sans-serif;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            .logo {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-right: 40px;
                padding: 0;
                text-decoration: none;
                font-family: 'Advent Pro', sans-serif;
                font-size: 40px;
                font-weight: 500;
                color: inherit;

            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;

                @include mobile {
                    display: none;
                }

                .icon {
                    font-size: 18px;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 400;
                    color: inherit;
                    cursor: pointer;
                }

                &:hover {
                    scale: 1.2;
                }
            }
        }

        .right {
            .hamburger {
                width: 32px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;


                .line1 {
                    width: 100%;
                }

                .line2 {
                    width: 50%;
                }

                .line3 {
                    width: 100%;
                }

                span {
                    height: 3px;
                    background-color: $maincolor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }

    &.active {

        .hamburger {

            span {
                &:first-child {
                    background-color: $maincolor;
                    transform: rotate(35deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    background-color: $maincolor;
                    transform: rotate(-35deg);
                }
            }
        }
    }
}