@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700;800&family=Lato:wght@100;300;400;700;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Advent Pro", sans-serif;
}

.about {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row;
  justify-items: center;
  justify-content: start;
}
@media (max-width: 768px) {
  .about {
    grid-template-columns: auto;
  }
}
.about h1 {
  color: #411207;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .about h1 {
    padding: 0;
    font-size: 2rem;
    margin: 0;
  }
}
.about .aboutContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  align-items: start;
  justify-content: start;
}
@media (max-width: 768px) {
  .about .aboutContainer {
    grid-template-columns: auto;
  }
}
.about .aboutContainer .left {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
  position: relative;
  background-color: transparent;
}
.about .aboutContainer .left .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
}
.about .aboutContainer .left .title h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.about .aboutContainer .left .title .iconContainer {
  background-color: #411207;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .aboutContainer .left .title .iconContainer .icon {
  color: #f2b757;
}
.about .aboutContainer .left .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #411207;
  padding-top: 20px;
}
.about .aboutContainer .left .text span {
  font-family: "lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .about .aboutContainer .left .text span {
    font-size: 0.8rem;
  }
}
.about .aboutContainer .center {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
.about .aboutContainer .center img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .about .aboutContainer .center {
    display: none;
  }
}
.about .aboutContainer .right {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  justify-items: center;
  grid-gap: 50px;
  padding-right: 20px;
}
.about .aboutContainer .right .now .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
}
.about .aboutContainer .right .now .title h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.about .aboutContainer .right .now .title .iconContainer {
  background-color: #411207;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .aboutContainer .right .now .title .iconContainer .icon {
  color: #f2b757;
}
.about .aboutContainer .right .now .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #411207;
  padding-top: 20px;
}
.about .aboutContainer .right .now .text span {
  font-family: "lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .about .aboutContainer .right .now .text span {
    font-size: 0.8rem;
  }
}
.about .aboutContainer .right .help .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
}
.about .aboutContainer .right .help .title h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.about .aboutContainer .right .help .title .iconContainer {
  background-color: #411207;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .aboutContainer .right .help .title .iconContainer .icon {
  color: #f2b757;
}
.about .aboutContainer .right .help .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #411207;
  padding-top: 20px;
}
.about .aboutContainer .right .help .text span {
  font-family: "lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.about .aboutContainer .right .help .text span .icon {
  size: 50px;
  color: #d77f08;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .about .aboutContainer .right .help .text span {
    font-size: 0.8rem;
  }
}
.about .ctaButton .button {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #411207;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: linear-gradient(230deg, #fbeaca, #fef7ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-family: "lato", sans-serif;
  border-radius: 20px;
  display: flex;
  gap: 10px;
}
.about .ctaButton .button:after {
  content: "";
  background: rgb(233, 128, 32);
  background: linear-gradient(215deg, rgb(233, 128, 32) 0%, rgb(242, 183, 87) 100%);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 1s all ease;
  border-radius: 20px;
}
.about .ctaButton .button:hover:after {
  top: 0px;
  left: 0px;
}
.about .ctaButton .button:hover {
  transition: 2s all ease;
}/*# sourceMappingURL=about.css.map */