@import "../../app/globals.scss";

.contact {
    display: flex;
    position: relative;

    .left {
        flex: 1;

        @include mobile {
            flex: 0
        }

        img {
            width: 100%;
            transition: 1s all ease;
            object-fit: contain;

            @include mobile {
                display: none;
            }

        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 40px;
            color: $maincolor;

            @include mobile {
                font-size: 30px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 80%;
            height: 70%;
            gap: 15px;


            input {
                width: 300px;
                height: 30px;
                font-size: 16px;
                background-color: $graycolor200;
                border: none;
                padding: 10px;
                color: $maincolor;
                font-family: "lato", sans-serif;


                &::placeholder {
                    padding: 5px;
                    color: $maincolor;
                    font-family: "lato", sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                }

                &:focus {
                    outline: none;
                }

                @include mobile {
                    height: 20px;
                }
            }

            textarea {
                background-color: $graycolor200;
                color: $maincolor;
                font-family: "lato", sans-serif;
                width: 300px;
                height: 300px;
                border: none;
                font-size: 16px;
                padding: 10px;

                &::placeholder {
                    padding: 5px;
                    color: $maincolor;
                    font-family: "lato", sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                }

                &:focus {
                    outline: none;
                }
            }

            .recaptcha {
                width: 300px;
            }

            button {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 1px;
                padding: 13px 20px 13px;
                outline: 0;
                border: 1px solid $maincolor;
                cursor: pointer;
                position: relative;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                background: linear-gradient(230deg, $maincolor100, $maincolor50);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-decoration: none;
                font-family: "lato", sans-serif;
                border-radius: 20px;

                &:after {
                    content: "";
                    background: rgb(233, 128, 32);
                    background: linear-gradient(215deg, rgba(233, 128, 32, 1) 0%, rgba(242, 183, 87, 1) 100%);
                    width: 100%;
                    z-index: -1;
                    position: absolute;
                    height: 100%;
                    top: 7px;
                    left: 7px;
                    transition: 1s all ease;
                    border-radius: 20px;
                }

                &:hover:after {
                    top: 0px;
                    left: 0px;

                }

                &:hover {
                    transition: 2s all ease;
                }

                .icon {
                    color: $maincolor50;
                }

                @include mobile {
                    height: 40px;
                }
            }
        }

        span {
            color: $maincolor700;
            font-weight: 500;
            font-family: "lato", sans-serif;
            font-size: 24px;
            text-align: center;
        }

        @include mobile {
            margin: 5px;
            padding: 5px;
        }
    }

    .arrowTop {
        position: absolute;
        bottom: 0;
        right: 40px;
        cursor: pointer;
        transition: 1s all ease;

        :hover {
            scale: 1.1;
        }

        .icon {
            animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;

            }
        }
    }
}